<footer>
	<div id="footer-left">
		<a href="mailto:npapciak3@gatech.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.twitter.com/completely_np"><i class="fa-lg fab fa-twitter footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/nickpapciak"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.linkedin.com/in/nickpapciak"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Nicholas Papciak
	</div>
	<div id="footer-right">
	nick.papciak.dev

	</div>
</footer>
