<head>
    <meta charset="utf-8" />
    <link href="http://gmpg.org/xfn/11" rel="profile" />

    <!-- Responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Share metadata -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@completely_np" />
    <meta name="twitter:creator" content="@completely_np" />
    <meta property="og:url" content="https://nick.papciak.dev/" />
    <meta property="og:title" content="Nicholas Papciak" />
    <meta
        property="og:description"
        content="Nick is a cofounder at datafruit"
    />
    <meta
        property="og:image"
        content="http://nick.papciak.dev/images/default.png"
    />

    <!-- Page title -->
    <title>
        {% if page.title == "Home" %} {{ site.title }} {% else %} {{ site.title
        }} - {{ page.title }} {% endif %}
    </title>

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Gaegu:300,700"
        rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
        href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css" />

    <!-- Emoji favicon -->
    <link
        rel="icon"
        href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>😄</text></svg>"
    />

    <!-- Feed -->
    {% feed_meta %}
</head>
